
    .borde-ext {
        position: absolute;
        width: 248px;
        height: 508px;
        background: #FFFFFF;
        border-radius: 32px;
        box-shadow: 3px 3px 15px;
    }



    .borde-int {
        position: absolute;
        height: 484px;
        width: 227px;
        left: 10px;
        top: 10px;
        border-radius: 16px;
        background: #EDEBEB;
    }


    .screen-background {
        position: absolute;
        width: 226px;
        height: 365px;
        background: #EDEBEB;
    }

    .search-box {
        position:absolute;
        z-index:44;
        height: 37px;
        width: 216px;
        left: 5px;
        top: 437px;
        border-radius: 20px;
        background: #fcfcfc;
    }

    .comment {
        position: absolute;
        top: 390px;
        left: 11px;
        width: 160px;
        height: 32px;
        background: linear-gradient(90deg, #E444FF 3.44%, #893BFF 97.81%);
        border-radius: 11px 8px 9px 5px;
    }

    .movil-App-header {
        position: absolute;
        top:0px;
        left:0px;
        z-index: 50;
        width: 230px;
        height: 67px;
        background: linear-gradient(93.08deg, #8E3AFE 9.61%, #DD42FE 95.15%);
        border-radius: 21px 24px 9px 5px;
    }

    .app-header-blanco {
        position: absolute;
        top: 0px;
        left: 52px;
        z-index: 56;
        width: 132px;
        height: 25px;
        background: #FFFFFF;
        border-radius: 0px 0px 15px 15px;
    }



