@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Rubik:wght@400;500;700&display=swap");
/*
font-family: 'Outfit', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Rubik', sans-serif;

Weights: 400, 500, 700
*/
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  overflow: hidden;
  position: relative;
  height: 500px;
}

.deco-left {
  position: absolute;
  overflow: hidden;
  left: -66px;
  top: -212px;
  background: linear-gradient(227deg, #e942ff, #8838ff);
  height: 681px;
  width: 344px;
  border-radius: 174px;
  z-index: -1;
}

.deco-right {
  position: absolute;
  overflow: hidden;
  background-color: #f5f3f7;
  height: 681px;
  width: 344px;
  top: 85px;
  right: -200px;
  border-radius: 174px;
  z-index: -1;
}

.phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.phone-wrapper .two-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1.1fr;
      grid-template-rows: 1.1fr;
  gap: 0px 0px;
      grid-template-areas: "phone text";
  height: 90vh;
  width: 90vw;
}

.phone-wrapper .two-columns .phone {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: phone;
  position: relative;
  top: 54px;
  left: 165px;
}

.phone-wrapper .two-columns .phone .borde-ext {
  position: absolute;
  width: 248px;
  height: 508px;
  background: #FFFFFF;
  border-radius: 32px;
  -webkit-box-shadow: 3px 3px 15px;
          box-shadow: 3px 3px 15px;
}

.phone-wrapper .two-columns .phone .borde-int {
  position: absolute;
  height: 484px;
  width: 227px;
  left: 10px;
  top: 10px;
  border-radius: 16px;
  background: #EDEBEB;
}

.phone-wrapper .two-columns .phone .screen-background {
  position: absolute;
  width: 226px;
  height: 365px;
  border-radius: 20px;
  background: #EDEBEB;
}

.phone-wrapper .two-columns .phone .search-box {
  position: absolute;
  z-index: 44;
  height: 37px;
  width: 216px;
  left: 5px;
  top: 437px;
  border-radius: 20px;
  background: #fcfcfc;
}

.phone-wrapper .two-columns .phone .comment {
  position: absolute;
  top: 390px;
  left: 11px;
  width: 160px;
  height: 32px;
  background: -webkit-gradient(linear, left top, right top, color-stop(3.44%, #E444FF), color-stop(97.81%, #893BFF));
  background: linear-gradient(90deg, #E444FF 3.44%, #893BFF 97.81%);
  border-radius: 11px 8px 9px 5px;
}

.phone-wrapper .two-columns .phone .movil-App-header {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
  width: 227px;
  height: 67px;
  background: linear-gradient(93.08deg, #8E3AFE 9.61%, #DD42FE 95.15%);
  border-radius: 21px 21px 9px 5px;
}

.phone-wrapper .two-columns .phone .app-header-blanco {
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: 56;
  width: 132px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 0px 0px 16px 16px;
}

.phone-wrapper .two-columns .text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
}
/*# sourceMappingURL=style.css.map */